@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  height: 74px;
  position: relative;
  transition: all 0.5s ease; /* Smooth transition for the position */
  box-shadow: none; /* Optional: Add shadow if desired */
  display: flex;
  align-items: center;
  padding: 0 20px; /* Optional: Add padding */
  z-index: 1000; /* Ensure the header is on top */
}

.header.sticky {
  position: fixed;
  top: 0;
  animation: slideDown 0.5s ease forwards; /* Slide down animation */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow when sticky */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start off-screen */
  }
  to {
    transform: translateY(0); /* End at normal position */
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

:root {
  scrollbar-color: #383755b0 #18173530 !important;
}

.separator-2,
.separator-3 {
  width: 100%;
  position: relative;
  height: 1px;
}

.separator-2:after {
  height: 1px;
  background: #d1d1d1;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 0.18)),
    color-stop(35%, rgba(0, 0, 0, 0.12)),
    color-stop(70%, rgba(0, 0, 0, 0.05)),
    color-stop(100%, transparent)
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.05) 70%,
    transparent 100%
  );
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: '';
  width: 100%;
}

.dark-bg .separator-2:after {
  background: #666666;
  background: -moz-linear-gradient(left, #666666 0%, #555555 35%, #444444 70%, #373737 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #666666),
    color-stop(35%, #555555),
    color-stop(70%, #444444),
    color-stop(100%, #373737)
  );
  background: -webkit-linear-gradient(left, #666666 0%, #555555 35%, #444444 70%, #373737 100%);
  background: -o-linear-gradient(left, #666666 0%, #555555 35%, #444444 70%, #373737 100%);
  background: -ms-linear-gradient(left, #666666 0%, #555555 35%, #444444 70%, #373737 100%);
  background: linear-gradient(to right, #666666 0%, #555555 35%, #444444 70%, #373737 100%);
}

/*shadow*/
.shadow-1,
.shadow-1-narrow {
  position: relative;
  background-color: #ffffff;
}

.light-gray-bg.shadow-1,
.light-gray-bg.shadow-1-narrow {
  background-color: #fafafa;
}

.bordered {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dark-bg .bordered {
  border: 1px solid #555555;
}

.shadow-1 *,
.shadow-1-narrow * {
  position: relative;
  z-index: 3;
}

.shadow-1:before,
.shadow-1-narrow:before {
  position: absolute;
  left: 0;
  height: 60%;
  bottom: 0;
  width: 100%;
  content: '';
  background-color: #ffffff;
  z-index: 2;
}

.light-gray-bg.shadow-1:before,
.light-gray-bg.shadow-1-narrow:before {
  background-color: #fafafa;
}

.shadow-1:after,
.shadow-1-narrow:after {
  content: '';
  position: absolute;
  height: 50%;
  width: 96%;
  left: 50%;
  bottom: 2px;
  margin-left: -48%;
  -webkit-box-shadow: 0 5px 7px #999999;
  box-shadow: 0 5px 7px #999999;
  z-index: 1;
  border-radius: 10%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shadow-1-narrow:after {
  width: 90%;
  margin-left: -45%;
}

.shadow-1:hover:after,
.shadow-1-narrow:hover:after {
  bottom: 10px;
}

/*Animated Backgrounds
---------------------------------- */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .animated-text h2 {
    @include transition(all 0.2s ease-in-out);
    position: absolute;
    top: 0;
    width: 100%;
  }

  .animated-text h2 + h2 {
    @include opacity(0);
    @include scale(1.15);
  }

  .animated-text:hover h2 {
    @include opacity(0);
    @include scale(0.85);
  }

  .animated-text:hover h2 + h2 {
    @include opacity(1);
    @include scale(1);
  }
}
/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
  .animated-text h2 + h2 {
    display: none;
  }
}

.default-hovered {
  @include transition(all 0.2s ease-in-out);
}

.default-hovered:hover:after,
.default-hovered:hover {
  background-color: red;
}

.light-gray-bg.default-hovered:hover * {
  color: white;
}

.position-bottom {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}
